body {
    background-color: #ccc;

}

h1 { text-align:center}
section {
        display: flex;
    justify-content: center;
    align-content: center;
}

.calculator-container {
    width: 500px;
}

.calculator-screen {
    max-width: 100%;
    background-color: white;
    border: 2px solid #555;
    line-height: 40px;
    height: 40px;
    padding: 10px;
    margin-bottom: 40px;
}

.calculator-screen input {
    width: 100%;

}
   
.calculator-grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
}

